.one {
  width: 100vw;
  height: 100vh;
  background-color: pink;
}
.contents {
  width: 100%;
  /* 아무리 넓이가 넓어도 1000px 못넘음 */
  max-width: 1000px;
  background-color: skyblue;
  height: 100px;
  /* auto (중앙화) */
  /* 위아래 좌우 */
  margin: 0 auto;
}
