/* 반응형 */
/* pc버전, tablet버전, mobile 버전을 위한 css */

/* 1024px 높으면  박스 넓이 500 * 500 색깔: 빨강 */
.box {
  width: 500px;
  height: 500px;
  background-color: red;
}

/* 769px 높으면 박스 넓이 300 * 300 색깔: 노랑 */
@media screen and (max-width: 1024px) {
  .box {
    width: 300px;
    height: 300px;
    background-color: yellow;
  }
}

/* 480px 높으면 박스 넓이 100 * 100 색깔: 초록 */
@media screen and (max-width: 769px) {
  .box {
    width: 100px;
    height: 100px;
    background-color: green;
  }
}

/* 480px 낮으면 박스 넓이 50 * 50 색깔: 파랑 */
@media screen and (max-width: 480px) {
  .box {
    width: 50px;
    height: 50px;
    background-color: blue;
  }
}
