.subject {
  width: 100vw;
  background-color: #f9fafb;
}
.sub__centeredbox {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 200px 0px;
}
.sub__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.sub__contents > h3 {
  font-size: 32px;
  font-weight: 700;
}
